#tool_box{
    width: 10%;
    height: 100%;
    background-color: rgba(255, 0, 0);
}  

.flex_container {
    display: flex;
    width: 100%;
    height: 100%;
}

#canvas_container {
    background-color: green;
    width: 80%;
    height: 100%;
}

#canvas_preview{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#canvas_grid{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#canvas_interaction {
    background-image: url("./images/empty.png");
    background-repeat: repeat;
    position: absolute;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: initial;
} 