body {
  overflow: hidden;
}

#canvas_page_body {
  width: 100%;
  height: calc(100% - 100px);
  margin: 0;
  overflow: hidden;
  position: absolute; /* DO NOT CHANGE THIS */
  display: flex;
}

#tool_box {
  min-width: 175px;
  height: 100%;
  background-color: #ffffff;
  z-index: 5;
  margin: 0;
  overflow: scroll;
}

#canvas_container {
  background-color: #333333;
  width: 100%;
  height: 100%;
}

#canvas_preview, .canvas_tiling_preview  {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  z-index: 1;
}

#canvas_interaction, .canvas_tiling {
  background-image: url("./images/empty.png");
  background-repeat: repeat;
  position: absolute;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  z-index: initial;
}

#canvas_grid {
  background-color: rgba(0, 0, 0, 0);
  width: inherit;
  height: inherit;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  position: absolute;
  z-index: 3;
}

#toggles, #one-off, #tools, #colour_picker{
  margin-top: 10px;
}

#colour_picker {
  width: 100%;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#selectPrimarySecondary{
  height: 20%;
  width: 100%;
  display: flex;
}

#selectPrimarySecondary_select{
  display: initial;
  height: 100%;
  width: 30%;
  position: relative;
}

#primaryColourBox, #secondaryColourBox{
  position: absolute;
  height: 26px;
  width: 26px;
  background-image: url("./images/empty.png");
  border: 1px solid #777777;
}

#primaryColourBox {
  left: 5px;
  top: 5px;
  z-index: 1;
}

#secondaryColourBox {
  bottom: 5px;
  right: 5px;
  z-index: 0;
}

#swapColourBox{
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: 12px;
  height: 12px;
  background-color: black;
}

#selectPrimarySecondary_text{
  height: 100%;
  width: 70%;
  align-items: center;
}

#selectPrimarySecondary_text p {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 150%;
}

#sliders{
  width: 100%;
  height: 80px;
}

.sliderContainer{
  position: relative;
  width: 65%;
  height: 100%;
}

#number_red, #number_green, #number_blue, #number_alpha{
  width: 35%;
}

#background_red, #background_green, #background_blue, #background_alpha, #slider_red, #slider_blue, #slider_green, #slider_alpha{
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
}

.slider{
  -webkit-appearance: none;
  appearance: none;
  background: rgba(0, 0, 0, 0);
}

/* Edge */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 3px;
  height: 25px;
  background: rgba(0, 0, 0, 1);
  border: 1px solid white;
}

/* Firefox */
.slider::-moz-range-thumb {
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  border: 1px solid white;
}

.toolboxSettingsContainer{
  width: 95%;
  height: 20px;
  margin: 5px auto 5px auto;
  position: relative;
  display: flex;
}

#background_red{
  background-color: red;
}

#background_green{
  background-color: green;
}

#background_blue {
  background-color: blue;
}

#background_alpha{
  background-image: url("./images/empty.png");
}

#hex_input{
  width: 100%;
}

#image_resizer{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.resizeSettingsContainer{
  width: 100%;
  display: flex;
}

.resizeSettingsContainer input {
  width: 80%;
  height: 100%
}

.resizeSettingsContainer input ::-webkit-outer-spin-button, .resizeSettingsContainer input ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.resizeSettingsContainer input[type=number] {
  -moz-appearance: textfield;
}

.resizeSettingsContainer div{
  width: 20%;
  height: 100%;
}

.resizeSettingsContainer p{
  margin: 0;
  text-align: right;
  line-height: 150%;
}

.toolbox_selected{
  background-color: pink;
}

#image_renamer{
  width: 90%;
  margin-right: auto;
  margin-left: auto
}

#image_renamer div p{
  margin-bottom: 0;
}

#name_input{
  width: 100%;
}

.side_panel{
  position: relative;
}

.side_panel h2, .side_panel p{
  margin: 0;
  text-align: center;
}

#side_animation{
  width: 300px;
  left: calc(100% - 300px);
  height: auto;
}

.animation_setting {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  display: flex;
  justify-content: center;
}

#side_animation div input{
  width: 50%;
}

#animation_frames {
  position: relative;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

#side_tiling{
  width: 150px;
  left: calc(100% - 150px);
}

#side_tiling select{
  width: 100%;
}

#animation_container{
  margin-top: 10px;
  position: absolute;
  width: 100%;
}

#canvas_animation{
  width: 100%;
  background-image: url("./images/empty.png");
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}