.dropdown-menu {
    /* background: red; */
    width: 200px;
    position: absolute;
    top: 40px;
    right: 4px;
    text-align: start;
    list-style: none;
    z-index: 100;
    padding: 0;
  }
  
  .dropdown-menu li {
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #8A1953;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding: 16px;
  }
  
  .dropdown-link:hover {
    background-color: #8A1953;
  }

  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }