.dropdown-menu {
    width: 200px;
    text-align: start;
}

.dropdown-menu li {

}

.dropdown-menu li:hover {
    
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    text-decoration: none;
}