.form_wrap {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 0 auto;
  background-color: #fafafa;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid rgb(231, 231, 231);
  position: fixed;
  top: 10em;
  right: 35vw;
  z-index: 2;
}
.form_item {
  margin-bottom: 0.55em;
  height: 2em;
  background-color: #efefef;
  border: 1px solid #efefef;
  border-radius: 3px;
  padding: 0.3em;
}

.login_btn {
  background-color: #0095f6;
  margin-bottom: 0.5em;
  height: 3em;
}

.signin_btn {
  background-color: #b02d49;
  height: 3em;
}
