.profileContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.profileContainer h1 {
    width: 100%;
}

.galleryContainer div.profileData {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 15vh;
    padding: 10px;

    justify-content: center;
    align-items: center;


}

.galleryContainer .ImgContainer {
    width: 100%;
    text-align: center;
    height: fit-content;

}

figure {
    text-align: center;


}

figure label {
    margin: 5px;


}


.profileData img {
    height: 50px;
    width: 50px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;


    
    object-fit: contain;
}

.userGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.userGallery h2 {
    width: 100%;
}

.userImages {
    width: 30%;
}